<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 socials">
        <img src="/assets/svg/facebook.svg" alt="" width="20" height="20">
        <img src="/assets/svg/linkedin.svg" alt="" width="20" height="20">
      </div>
    </div>
    <div class="col-12 copyright">
      <p class="copyright-text">&copy; {{ date }} tpsoares.dev. Todos os direitos reservados.</p>
    </div>
  </div>
  <hr class="separator">
  <div class="icons-reference">Icons made by <a href="https://www.flaticon.com/authors/freepik" target="_blank" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" target="_blank" title="Flaticon">www.flaticon.com</a></div>
</div>