<div class="main-menu">
  <div class="container">
    <div class="row d-flex align-items-center h-100">
      <nav class="col-9 col-lg-6">
        <a class="logo" href="#">tpsoares.dev</a>
      </nav>
      <nav class="col-3 col-lg-6">
        <button class="header-burger d-lg-none collapsed" type="button" data-toggle="collapse" data-target="#header-menu">
          <img src="/assets/svg/burger-menu.svg" alt="">
        </button>
        <ul class="header-menu collapse" id="header-menu">
          <li class="active">
            <a class="" href="#">Início<span class="sr-only">(current)</span></a>
          </li>
          <li class="">
            <a class="" href="#">Serviços</a>
          </li>
          <li class="">
            <a class="" href="#">Portfólio</a>
          </li>
          <li class="">
            <a class="" href="#">Contato</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>