<div class="main-menu">
  <div class="container">
    <div class="row d-flex align-items-center h-100">
      <nav class="col-9 col-lg-6">
        <a class="logo" href="#">tpsoares.dev</a>
      </nav>
      <nav class="col-3 col-lg-6">
        <button class="header-burger d-lg-none collapsed" type="button" data-toggle="collapse" data-target="#header-menu">
          <img src="/assets/svg/burger-menu.svg" alt="">
        </button>
        <ul class="header-menu collapse" id="header-menu">
          <li class="" [routerLinkActive]="['active']">
            <a class="" data-toggle="collapse" data-target=".header-menu.show" (click)="Scroll('navbar')">Início</a>
          </li>
          <li class="">
            <a class="" data-toggle="collapse" data-target=".header-menu.show" (click)="Scroll('specialties')">Serviços</a>
          </li>
          <li class="">
            <a class="" data-toggle="collapse" data-target=".header-menu.show" (click)="Scroll('portfolio')">Portfólio</a>
          </li>
          <li class="">
            <a class="" data-toggle="collapse" data-target=".header-menu.show" (click)="Scroll('contact')">Contato</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>