<div class="contact">
  <div class="container" data-aos="fade-up" data-aos-offset="200" data-aos-duration="1500">
    <h1 class="title">Entre em contato</h1>
    <form class="contact-form">
      <div class="row client-info">
        <div class="col-lg-6 col-sm-12">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email">
          </div>
        </div>
        <div class="col-lg-6 col-sm-12">
          <div class="form-group">
            <label for="name">Digite seu nome</label>
            <input type="text" class="form-control" id="name">
          </div>
        </div>
        <div class="col-12">
          <div class="client-message">
            <div class="form-group">
              <label for="description">Mensagem</label>
              <textarea class="form-control" id="description" rows="5"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <button type="button" class="btn contact-btn">Enviar mensagem</button>
      </div>
    </form>
  </div>
</div>